.top-bar {
	background-color: $color-header-bg;
	color: $white;

	.pags-bar {
		font-family: $font-header;
		font-weight: bolder;
		font-size: $size-font-header;
		color: $white;

		ul {
			list-style-type: none;

			li {
				display: inline;

				a {
					color: $white;
				}

				a:link, a:visited, a:hover {
					text-decoration: none;
				}
			}
		}
	}
}