// Estilos da Home

.lg-home-wrapper {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: -1;

    .div-logo-img {
	height: 100vh !important;
	width: 100vw !important;
	padding: 3rem;
	display: flex;

		.logo-home {
			margin: auto;
			z-index: 100;

			// css for gif
			display: block;
		    width: 110px; 
		    height: 110px;
		    background-size: 3000%;
		    animation: like-gif steps(28) 1s infinite both;
		}
	}

	.pelicula {
		position: fixed;
		top: 0;
		width: 100%;
		height: 100%;
	    background-color: rgba( 13, 3, 24, 0.7 );
	}

	#home-banner {
		video {
			z-index: -100 !important;
			position: fixed;
		}
	}
}

// Estilo para aviso de não aver logo
.attention {
	font-family: "Bariol", sans-serif;
	font-style: italic;
	font-size: 3rem;
}


@keyframes like-gif {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}