p {
	text-align: justify;
	font-family: $font-text;
}

.p-2p{
	padding: 2%;
}

.p-r-1p {
	padding-right: 1%;
}

.m-t-1p{
	margin-top: 1%;
}

.m-t-2p{
	margin-top: 2%;
}

.m-t-5p{
	margin-top: 5%;
}

.div-title-1 {
	display: inline-block;
	width: auto;
	padding: 1.5% 4% 0 5%;
	background-image: url("./img/titulooqe.svg");
	background-repeat: no-repeat;
	
}

.div-title-2 {
	display: inline-block;
	width: auto;
	padding: 1.6% 4% 0 5%;
	background-image: url("./img/titulocomocomecou.svg");
	background-repeat: no-repeat;
}

.div-title-3 {
	display: inline-block;
	width: auto;
	padding: 1.6% 4% 0 5%;
	background-image: url("./img/titulonossaequipe.svg");
	background-repeat: no-repeat;
	background-position: center;
}

.align-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.inline-block {
	display: inline-block;
}

.navbar-button {
	font-family: $font-button;
	font-size: 13px;
	background-color: $color-inactive;
	border: none;
	color: $color-header-bg;
	height: 55px;
	width: 115px;
}

.navbar-button-active {
	font-family: $font-button;
	font-size: 13px;
	background-color: $color-active;
	border: none;
	color: $white;
	height: 55px;
	width: 115px;
}


.navbar-button:hover {
	background-color: $color-hover;
}

.image-cropper {
    width: 130px;
    height: 130px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 2%;
	background-image: url("./img/circle.svg");
}

.profile-pic {
	display: inline;
	margin-top: -25%;
	margin-left: -25%;
	width: 200px;
	padding: 25%;
	position: relative;
	z-index: -1;
}

.text-box {
	width: 130px;
	margin-right: 2%;
}

.link {
	font-family: $font-text;
	color: black;
	font-style: italic;
	font-weight:bold;
}

.nome {
	font-family: $font-text;
}

.rect_amarelo {
	background-image: url("./img/rect_amarelo.svg");
	background-repeat: no-repeat;
	background-position: left;
	width: 33% !important;
	height: 150px;
}

.triang_amarelo {
	background-image: url("./img/triang_amarelo.svg");
	background-repeat: no-repeat;
	background-position: right;
	width: 33% !important;
	height: 150px;
	float: right !important;
}

 /* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: auto;
}

/* Clear floats after image containers */
.div-box::after {
  content: "";
  clear: both;
  display: table;
} 