/* FONTES */
$font-header: "Lovelo", sans-serif;
$font-footer: "Bariol", sans-serif;
$font-title: "LoveloLine", sans-serif;
$font-text: "Bariol", sans-serif;

/* TAMANHOS */
$size-font-header: 2.2rem;
$size-font-footer: 2.3rem;
$size-font-title: 4.9rem;
$size-font-text: 2.0rem;

/* CORES */
$white: #FFFFFF;
$black: #000000;
$color-header-bg: #0D0318;
$color-home-pelicula: #0D0318;

/* DEFAULT */
@mixin default-font-config() {
    font-family: "Lovelo", Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 1.0rem;
    color: $black;
}
