@font-face {
    font-family: BariolRegular;
    src: url(./fonts/BARIOL_REGULAR.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Bariol;
    src: url(./fonts/BARIOL_REGULAR_ITALIC.ttf) format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: Bariol;
    src: url(./fonts/BARIOL_BOLD.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Bariol;
    src: url(./fonts/BARIOL_BOLD_ITALIC.ttf) format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: Bariol;
    src: url(./fonts/BARIOL_LIGHT.ttf) format('truetype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: Bariol;
    src: url(./fonts/BARIOL_LIGHT_ITALIC.ttf) format('truetype');
    font-weight: lighter;
    font-style: italic;
}

@font-face {
    font-family: Bariol;
    src: url(./fonts/BARIOL_THIN.ttf) format('truetype');
    font-weight: thin;
    font-style: normal;
}

@font-face {
    font-family: Bariol;
    src: url(./fonts/BARIOL_THIN_ITALIC.ttf) format('truetype');
    font-weight: thin;
    font-style: italic;
}

@font-face {
    font-family: LoveloBlack;
    src: url(./fonts/Lovelo-Black.ttf) format('truetype');
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: LoveloLineBold;
    src: url(./fonts/Lovelo-Line-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: LoveloLine;
    src: url(./fonts/Lovelo-Line-Light.ttf) format('truetype');
    font-weight: lighter;
    font-style: normal;
}